#app {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;
}

#header {
  background-color: midnightblue;
  color: white;
  grid-row: 1;
  grid-column: 1 / -1;
  padding: 10px;
  border-radius: 10px;
}

#header h1 {
  margin: 0;
}

#rooms {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

#rooms h2 {
  margin: 0;
}

#messages {
  height: 100%;
  display: grid;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow-y: hidden;
}

#messages-header {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

#messages-header h2 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#messages-control-panel {
  flex: none;
  margin-left: auto;
}

#messages-with-no-selected-room {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

#events {
  overflow-y: scroll;
}

#events p {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

#events p:last-child {
  margin-block-end: 0;
}

.selected-room {
  border-color: blue;
  color: blue;
}

.send-window {
  margin-top: 10px;
  display: flex;
  column-gap: 5px;
}

.user-id {
  width: 100px;
}

.message-text {
  flex-grow: 1;
}